.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .popupContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .codeBlock {
    background: #282c34;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 300px;
    font-family: monospace;
    user-select: none;
  }
  
  /* Botões */
  .popupButtons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .optionButton {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.181);
    text-align: center;
    min-width: 100px;
    display: flex;
    justify-content: center; /* Alinha conteúdo centralizado */
    align-items: center; /* Garante que o conteúdo fique no centro do botão */
    height: 40px; /* Definindo uma altura fixa para o botão */
    user-select: none;
  }
  
  .optionButton:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
  }
  
  
  /* Animação do botão quando copiado */
  .copied {
    background-color: #4caf50 !important; /* Verde quando copiado */
    color: white !important;
    transform: scale(1.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .copied svg {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Responsividade */
  @media (max-width: 480px) {
    .popupContent {
      width: 100%;
      padding: 15px;
    }
  
    .popupButtons {
      flex-direction: column;
      align-items: center;
    }
  
    .optionButton {
      width: 100%;
    }

    .optionButton:hover, .copied {
        transform: scale(1);
    }
  }
  
  /* Animação de fade-in */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  