// App.module.scss

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
}

h1, h2 {
  margin-bottom: 20px;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: #7b7b7b;
}

  /* Responsividade */
  @media (max-width: 480px) {
    .App {
      padding: 10px;
    }
  }